<div class="page-header">
	<h1>{{ page.name }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

{% assign current_review = page %}
{% include 5carts/parse_current_review %}

<div class="review_meta_block">
<p>
Meta data of this review: 
</p>
<ul class="review_meta">
	<li>Name: <span class="review_meta_value"> {{ _name }} </span> </li>
	<li>Alias: <span class="review_meta_value">{{ _alias }}</span></li>
	<li>Date: <span class="review_meta_value">{{ _date }}</span></li>
	<li>Category: <span class="review_meta_value">{{ _category }}</span></li>
	<li>Link: <span class="review_meta_value"><a href="{{ _link }}">{{ _link }}</a> </span></li>
	<li>Open Source: <span class="review_meta_value">{{ _open_source }}</span></li>
	<li>Open Format: <span class="review_meta_value">{{ _open_format }}</span></li>
	<li>Use Rate: <span class="review_meta_value">{{ _rate_use }}</span></li>
	<li>Quality Rate: <span class="review_meta_value">{{ _rate_quality }}</span></li>
</ul>
</div>

<hr />

<div class="row">
	<div class="span12">
		{{ content }}
	</div>
</div>

<hr />

{% if page.comments != false %}
	{% assign show_comments = true %}
{% endif %}

{% if show_comments %}
<div name="comments">
	{% include JB/comments %}
</div>
{% endif %}
