<div class="page-header">
	<h1>{{ page.name }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

{% assign current_review = page %}
{% include 5carts/parse_current_review %}

<div class="review_meta_block">
<p>
Meta data of this review: 
</p>
<ul class="review_meta">
	<li>Name: {{ current_review.name }}</li>
	<li>Category: {{ _category }}</li>
	<li>Link: <a href="{{ current_review.link }}">{{ current_review.link }}</a> </li>
	<li>Open Source: {{ current_review.open_source }}</li>
	<li>Open Format: {{ current_review.open_format }}</li>
	<li>Use Rate: {{ current_review.rate_use }}</li>
	<li>Quality Rate: {{ current_review.rate_quality }}</li>
</ul>
</div>

<hr />

<div class="row">
	<div class="span12">
		{{ content }}
	</div>
</div>

{% if page.comments != false %}
	{% assign show_comments = true %}
{% endif %}

{% if show_comments %}
<div name="comments">
	{% include JB/comments %}
</div>
{% endif %}
