---
layout: page
title: Index
---
{% include JB/setup %}

<div style="visibility:hidden" id="div_configs">
	<form id="configs">
		<input type="hidden" name="" id="asset_path" value="{{ ASSET_PATH }}" />
	</form>
</div>

<table border="1" style="text-align:center;margin-left:auto;margin-right:auto;" >
	<tr>
		<th>Name</th>
		<th>Category</th>
		<th>Link</th>
		<th>Open <br /> Source</th>
		<th>Open <br /> Format</th>
		<th>Use <br /> Rate</th>
		<th>Quality <br /> Rate</th>
		<th>More</th>
	</tr>
	{% for p in site.pages %}
	{% assign current_review = p %}
	{% include 5carts/parse_current_review %}
	{% if _is_review == true %}
	<tr>
		<td> {{ _name }} </td>
		<td> {{ _category }} </td>
		<td> 
			<a class="review_link" href="{{ _link }}">Go</a>
		</td>
		<td> <span class="icon_bool"> {{ _open_source }} </span> </td>
		<td> <span class="icon_bool"> {{ _open_format }} </span> </td>
		<td> {{ _rate_use }} </td>
		<td> {{ _rate_quality }} </td>
		<td>
			<a class="" href="{{ _url }}"> more...</a>	
		</td>			
	</tr>
	{% endif %}
	{% endfor %}
</table>

