---
layout: page
title: Index
---

<table border="1">
	<tr>
		<th>Name</th>
		<th>Category</th>
		<th>Link</th>
		<th>Open Source</th>
		<th>Open Format</th>
		<th>Use Rate</th>
		<th>Quality Rate</th>
		<th>More</th>
	</tr>
	{% for p in site.pages %}
	{% assign current_review = p %}
	{% include 5carts/parse_current_review %}
	{% if _is_review == true %}
	<tr>
		<td> {{ p.name }} </td>
		<td> {{ _category }} </td>
		<td> 
			<a href="{{ p.link }}">Go</a>
		</td>
		<td> {{ p.open_source }} </td>
		<td> {{ p.open_format }} </td>
		<td> {{ p.rate_use }} </td>
		<td> {{ p.rate_quality }} </td>
		<td>
			<a class="" href="{{ p.url }}"> more...</a>	
		</td>			
	</tr>
	{% endif %}
	{% endfor %}
</table>

